In [1]:
import json
import pandas as pd

In [3]:
fileData = pd.read_csv("Daily new COVID-19 vaccination doses administered-12-21-2020-02-12-2021.csv")

In [8]:
len(fileData)

68533

In [25]:
fileData.shape

(68533, 59)

In [5]:
fileData.head(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [43]:
#filter out where continent is empty
fileData['iso_code']

0        AFG
1        AFG
2        AFG
3        AFG
4        AFG
5        AFG
6        AFG
7        AFG
8        AFG
9        AFG
10       AFG
11       AFG
12       AFG
13       AFG
14       AFG
15       AFG
16       AFG
17       AFG
18       AFG
19       AFG
20       AFG
21       AFG
22       AFG
23       AFG
24       AFG
25       AFG
26       AFG
27       AFG
28       AFG
29       AFG
        ...
68503    ZWE
68504    ZWE
68505    ZWE
68506    ZWE
68507    ZWE
68508    ZWE
68509    ZWE
68510    ZWE
68511    ZWE
68512    ZWE
68513    ZWE
68514    ZWE
68515    ZWE
68516    ZWE
68517    ZWE
68518    ZWE
68519    ZWE
68520    ZWE
68521    ZWE
68522    ZWE
68523    ZWE
68524    ZWE
68525    ZWE
68526    ZWE
68527    ZWE
68528    ZWE
68529    ZWE
68530    ZWE
68531    ZWE
68532    ZWE
Name: iso_code, Length: 68533, dtype: object

In [34]:
contientEmpty.head(3)

0
1
2
Name: continent, dtype: object