In [1]:
import json
import pandas as pd

In [2]:
fileData = pd.read_csv("Daily new COVID-19 vaccination doses administered-12-21-2020-02-12-2021-v2.csv")

In [3]:
fileData.shape

(68533, 59)

In [4]:
fileData.head(3)

,iso_code,continentt,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [5]:
shortData = fileData[['location', 'date', 'people_vaccinated_per_hundred']]

In [6]:
shortData.head(3)

      location       date  people_vaccinated_per_hundred
0  Afghanistan  2/24/2020                            NaN
1  Afghanistan  2/25/2020                            NaN
2  Afghanistan  2/26/2020                            NaN

In [11]:
shortData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68533 entries, 0 to 68532
Data columns (total 3 columns):
location                         68533 non-null object
date                             68533 non-null datetime64[ns]
people_vaccinated_per_hundred    1545 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.6+ MB

In [12]:
shortData['date'] = pd.to_datetime(shortData['date'])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
shortData.dtypes

location                                 object
date                             datetime64[ns]
people_vaccinated_per_hundred           float64
dtype: object

In [13]:
shortData.head(3)

      location       date  people_vaccinated_per_hundred
0  Afghanistan 2020-02-24                            NaN
1  Afghanistan 2020-02-25                            NaN
2  Afghanistan 2020-02-26                            NaN

In [14]:
shortData.shape

(68533, 3)

In [15]:
data01 = shortData.loc[shortData['date'] >= '2021-01-01']

In [16]:
data01.shape

(8723, 3)

In [17]:
data01.head(3)

        location       date  people_vaccinated_per_hundred
312  Afghanistan 2021-01-01                            NaN
313  Afghanistan 2021-01-02                            NaN
314  Afghanistan 2021-01-03                            NaN

In [18]:
data01 = data01.loc[data01['people_vaccinated_per_hundred'].notnull()]

In [19]:
data01.shape

(1408, 3)

In [20]:
data01.head(3)

     location       date  people_vaccinated_per_hundred
1041  Albania 2021-01-10                           0.00
1043  Albania 2021-01-12                           0.00
1044  Albania 2021-01-13                           0.01

In [25]:
data01['people_vaccinated_per_hundred'] = data01['people_vaccinated_per_hundred']  * 10

In [26]:
data01['people_vaccinated_per_hundred'].tail(100)

64929     79.3
64930     86.3
64931     93.6
64932     96.8
64933    101.0
64934    105.5
64935    110.1
64936    116.2
64937    123.4
64938    132.2
64939    136.9
64940    142.1
64941    147.6
64942    154.5
64943    161.6
64944    168.9
64945    177.0
64946    181.1
64947    186.3
64948    192.4
64949    199.0
64950    206.4
65298     12.6
65300     13.6
65301     14.5
65302     15.9
65303     17.7
65304     20.0
65307     26.9
65308     27.9
         ...
67532      2.8
67533      3.1
67534      3.2
67535      3.2
67536      3.4
67537      3.8
67538      4.1
67539      4.3
67540      4.6
67541      5.0
67542      5.2
67543      5.4
67544      5.6
67545      5.9
67546      6.2
67547      6.5
67548      6.8
67549      7.1
67550      7.3
67551      7.5
67552      7.7
67553      8.0
67554      8.3
67555      8.6
67556      8.9
67557      9.1
67558      9.3
67559      9.8
67560     10.2
67561     10.8
Name: people_vaccinated_per_hundred, Length: 100, dtype: float64

In [27]:
transposedData = data01.pivot(index='location', columns='date', values='people_vaccinated_per_hundred')

In [28]:
transposedData.shape

(63, 43)

In [29]:
transposedData.head(3)

date,2021-01-01 00:00:00,2021-01-02 00:00:00,2021-01-03 00:00:00,2021-01-04 00:00:00,2021-01-05 00:00:00,2021-01-06 00:00:00,2021-01-07 00:00:00,2021-01-08 00:00:00,2021-01-09 00:00:00,2021-01-10 00:00:00,...,2021-02-03 00:00:00,2021-02-04 00:00:00,2021-02-05 00:00:00,2021-02-06 00:00:00,2021-02-07 00:00:00,2021-02-08 00:00:00,2021-02-09 00:00:00,2021-02-10 00:00:00,2021-02-11 00:00:00,2021-02-12 00:00:00
location,,,,,,,,,,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.3,6.6,NaN,6.8,7.1,7.1,7.1,7.5,8.0,8.1

In [30]:
transposedData.to_csv('CovidVaccinatedPer1000ByCountry.csv')